@model IEnumerable<HelpDesk.Models.ProductAssignmentEntity>

@{
    ViewData["Title"] = "Inventario";
}

<div class="container-fluid">

    <h1>Inventario</h1>

    <p>
        <a asp-action="Create">Agregar asignación</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.DateStop)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Branch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Branch.Company.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAssignment)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.DateStop)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Branch.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Branch.Company.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAssignment)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>