@model IEnumerable<Files.Models.Folder>

@{
    ViewData["Title"] = "Lista de carpetas";
}

<h1>Lista de carpetas</h1>

<p>
    <a asp-action="Create">Agregar nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.FolderId)
            </th>  *@        
            <th>
                @Html.DisplayNameFor(model => model.DateRegistration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.FolderId)
            </td> *@        
            <td>
                @Html.DisplayFor(modelItem => item.DateRegistration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
