@model IEnumerable<Activities.Dtos.RowDto>

<table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
           @* <th>Cambiar estatus</th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStop)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DateStart)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DateRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListUsers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListFiles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListComments)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @*<th>Cambiar estatus</th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStop)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DateStart)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DateRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListUsers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListFiles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListComments)
            </th>
            <th><Acciones</th>
        </tr>
    </tfoot>
    <tbody>
        @{
            string classColor;
        }
        @foreach (var item in Model)
        {
            switch (item.RowStatusId)
            {
                case 1:
                    classColor = "table-success";
                    break;
                case 2:
                    classColor = "table-warning";
                    break;
                case 3:
                    classColor = "table-danger";
                    break;
                default:
                    classColor = string.Empty;
                    break;
            }
            <tr class="@classColor">
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @*<td>
                    @await Html.PartialAsync("_ChangeRowStatus",item)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStop)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.DateRegistration)
                </td>
                <td>
                    <ul>
                        <a href="~/UsersInRows/Create?IdRow=@item.Id" data-toggle="tooltip" title="Agregar colaborador" class="text-success">
                            <i class="fas fa-user-plus"></i>
                        </a>

                        @foreach (var user in item.ListUsers)
                        {
                            <li>
                                @user.FullName
                                <a href="~/UsersInRows/Delete?Id=@user.Id" data-toggle="tooltip" title="Quitar colaborador" class="text-danger">
                                    <i class="fas fa-user-minus"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </td>

                @*Documentos*@
                <td>
                    <ul>
                        <a href="~/Files/Create?RowId=@item.Id" data-toggle="tooltip" title="Agregar documento" class="text-success">
                            <i class="fas fa-file-upload"></i>
                        </a>
                        @foreach (var file in item.ListFiles)
                        {
                            <li>
                                <a href="@file.Url" target="_blank">
                                    @file.Name
                                </a>
                            </li>
                            <a href="~/Files/Delete/@file.Id" data-toggle="tooltip" title="Quitar documento" class="text-danger">
                                <i class="fas fa-eraser"></i>
                            </a>
                        }
                    </ul>
                </td>

                @*Comentarios*@
                <td>
                    <a href="~/Comments/Create?RowId=@item.Id" data-toggle="tooltip" title="Agregar commentario" class="text-success">
                        <i class="fas fa-comment"></i>
                    </a>
                    @foreach (var comment in item.ListComments)
                    {
                        <div class="row">                            
                            <div class="col-10 text-truncate">
                                @*<blockquote class="blockquote">*@
                                    @comment.Content
                                    <footer class="blockquote-footer"><cite title="Source Title">@comment.UserFullName</cite>@comment.DateRegistration</footer>
                                @*</blockquote>*@
                                </div>
                            <div class="col-2">
                                <a href="~/UsersInRows/Delete?IdRow=@item.Id" data-toggle="tooltip" title="Quitar Comentario" class="text-danger">
                                    <i class="fas fa-eraser"></i>
                                </a>
                            </div>
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="rows" asp-route-id="@item.Id" data-toggle="tooltip" title="Editar actividad" class="text-warning">
                        <i class="fas fa-edit"></i>
                    </a> |
                    <a asp-action="Details" asp-controller="rows" asp-route-id="@item.Id" data-toggle="tooltip" title="Editar actividad" class="text-info">
                        <i class="fas fa-info"></i>
                    </a> |
                    <a asp-action="Delete" asp-controller="rows" asp-route-id="@item.Id" data-toggle="tooltip" title="Eliminar actividad" class="text-danger">
                        <i class="fas fa-eraser"></i>
                    </a>
                    @await Html.PartialAsync("_ChangeRowStatus",item)
                </td>
            </tr>
        }
    </tbody>
</table>