@model IEnumerable<Activities.Dtos.RowDto>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListUsers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListFiles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRegistration)
                </td>
                <td>
                    <ul>
                        @Html.ActionLink("Agregar compa","create","UsersInRows", new {IdRow = item.Id})
                        @foreach (var user in item.ListUsers)
                        {
                            <li>@user.FullName</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @Html.ActionLink("Agregar papel","create","UsersInRows", new {IdRow = item.Id})
                        @foreach (var file in item.ListFiles)
                        {
                            <li>@file.Name</li>
                        }
                    </ul>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>