@model IEnumerable<Expenses.Models.Period>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de periodos</h1>
@if (ViewBag.IsActive)
{
    <p>
        <a asp-action="index" asp-route-isActive="false">Ver los borrados</a>
    </p>
}
else
{
    <p>
        <a asp-action="index" asp-route-isActive="true">Ver los activos</a>
    </p>
}
<p>
    <a asp-action="Create">Agregar nuevo periodo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStop)
                </td>                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
