@model IEnumerable<HelpDesk.Models.ProductEntity>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">

    <h1>Lista de productos</h1>

    <p>
        <a asp-action="Create">Agregar nuevo producto</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerieNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateStop)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateRegistration)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                string cssClass;

                cssClass = string.Empty;
            }
            @foreach (var item in Model)
            {
                @switch (item.Category.Name)
                {
                    case "Software":
                        @if (10 > ((TimeSpan)(item.DateStop - DateTime.Now)).Days)
                        {
                            cssClass = "text-danger";
                        }
                        else if (((TimeSpan)(item.DateStop - DateTime.Now)).Days < 30 && 10 < ((TimeSpan)(item.DateStop - DateTime.Now)).Days)
                        {
                            cssClass = "text-warning";
                        }
                        else if (31 < ((TimeSpan)(item.DateStop - DateTime.Now)).Days)
                        {
                            cssClass = "text-success";
                        }
                        break;
                    default:
                        cssClass = string.Empty;
                        break;
                }


                <tr class="@cssClass">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerieNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateStop)                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRegistration)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>